mat-form-field{
    margin-left: 1cm;
    margin-right: 1cm;
    width: 90%;
}
h1{
    margin-top: 1.5cm;
    margin-left: 2cm;
}

button {
    margin-left: 1cm;
    margin-right: 1cm;
    width: 90%;
}

table{
    width: 100%;
}

.alignRight{
align-content: right;
}