mat-form-field{
    margin-left: 1cm;
    margin-right: 1cm;
    width: 80%;
}

button {
    margin-left: 1cm;
    margin-right: 1cm;
    width: 80%;
}

mat-grid-tile{
    padding: 50px;
}
